<div class="titreheaderUser">{{admin.type}}</div>
<div class="titreheader">Gérez votre fichier de vaccinations</div>


<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
    <app-dossier title="Mes Dossiers" customImg="assets/images/tabbord-mesdossiers.svg" customClass="barreMesDossiers"
      customId=""></app-dossier>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dossier title="Dossiers récemment consultées" customImg="assets/images/tabbord-dossiers.svg"
      customClass="barreDossiers" customId="derniersDossiers"></app-dossier>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dossier title="Rechercher" customImg="assets/images/tabbord-recherche.svg" customClass="barreRecherches"
      customId="derniersDossiers" designed="false"></app-dossier>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dossier title="Tebleau des alertes" customImg="assets/images/tabbord-alert.svg" customClass="barreAlertes"
      customId="derniersDossiers" designed="false"></app-dossier>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dossier title="Mes recherches et requêtes" customImg="assets/images/tabbord-requetes.svg"
      customClass="barreRequetes" customId="mesDossiers"></app-dossier>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-dossier title="Mes bilans et états" customImg="assets/images/tabbord-bilans.svg" customClass="barreBilans"
      customId="mesDossiers"></app-dossier>
  </div>
</div>