<table class="table table-borderless">
  <tbody>
    <tr class="backblanche">
      <td class="{{ customClass }}">
        <img class="imagebarre" src="{{ customImg }}">
      </td>
      <td>
        <div class="pad">
          <div id="#{{ customId }}">{{ title }}</div>
          <table class="table table-striped">
            <tr>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
            <tr>
              <td scope="row">Test</td>
              <td>Test</td>
              <td>Test</td>
            </tr>
            <tr>
              <td scope="row">Test</td>
              <td>Test</td>
              <td>Test</td>
            </tr>
          </table>
        </div>
      </td>

    </tr>
  </tbody>
</table>